<!DOCTYPE html>
<html>
<head>

    <title><%= title %> </title>
    
    <link rel='stylesheet' type='text/css' href='/css/layout.css'>
    <link rel='stylesheet' type='text/css' href='/css/header.css'>
    <link rel='stylesheet' type='text/css' href='/css/footer.css'>
    <%- style %>
   
</head>
<body>

    <!-- Partials -->
    <%- include('_header'); %>

    <!-- Wrapper -->
    <main id="layout-main">
        <%- body %>
    </main>
    

    <!-- Partials -->
    <%- include('_footer'); %>
    
    <%- script %>

    <!-- <script src='.js'></script> -->

</body>
</html>


<!-- 
    * layout.ejs is Layout To => <%- body %>
    * Bascially layout.ejs is wrapper to the {body}
    * We did not have information about what we will be the content inside {body}
    * So whenever users.ejs is opened then it takes to the layout.ejs and here wherever body has been written there all things is being replaced by users.ejs content
-->


<!-- 
    * partials is nothing but #define property (for understanding purpose)
-->