<!DOCTYPE html>
<html>
<head>

    <title><%= title %> </title>
    
    <link rel='stylesheet' type='text/css' media='screen' href='./css/layout.css'>
   
</head>
<body>

    <!-- Partials -->
    <%- include('_header'); %>

    <!-- Wrapper -->
    <%- body %>

    <!-- Partials -->
    <%- include('_footer.ejs'); %>
    
    <script src='main.js'></script>

</body>
</html>


<!-- 
    * layout.ejs is Layout To => <%- body %>
    * Bascially layout.ejs is wrapper to the {body}
    * We did not have information about what we will be the content inside {body}
-->


<!-- 
    * 
-->